body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #757575;
}

/* hurr durr box of border */
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

header, section, nav, main, article {
    display: block;
    width: 100vw;
    padding: 15px 10px;
    text-align: center;
}

page {
    display: flex;
    flex-wrap: wrap;
}

nav {
    background-color: #5995DA;
    height: 40px;
}

header {
    background-color: #B2D6FF;
}

main {
    background-color: #EAEDF0;
    height: 600px;
}

signup {
    background-color: #D6E9FE;
}

/* bg my mane */
.bgyellow {
    background-color: #F5CF8E;
}
.bgred {
    background-color: #F09A9D;
}
.bgpurple {
    background-color: #C8C6FA;
}

article {
    background-color: #F5CF8E;
}

/* mobil styl */
@media only screen and (max-width: 400px) {
  body {
    background-color: #F09A9D; /* Red */
  }
}

/* table style */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: #F5CF8E; /* Yellow */
  }
    signup, article {
        width: 50%;
    }
}

/* deskto style */
@media only screen and (min-width: 961px) {
  body {
    background-color: #B2D6FF; /* Blue */
  }
    article {
        width: 33.33333333333333333333333333333333333333333333333333333%;
    }
}