page {
    display:flex;
    flex-wrap: wrap;
}

menu {
    background-color: #5995DA;
    height: 80px;
}

header {
    background-color: #B2D6FF;
}

main {
    background-color: #EAEDF0;
    height: 600px;
}

signup {
    background-color: #D6E9FE;
}

article {
    background-color: #F5CF8E;
}

article2 {
    background-color: #F09A9D;
}

article3 {
    background-color: #C8C6FA;
}